/* #############################
       Centered CTA block
   #############################*/
.headline-cta {
	.button { 
		span { 
			font-size: 19px; 
			font-weight: bold;
		}
	}
	img { float: right !important; }

	// LARGE SCREENS AND UP //
		@media only screen and (min-width: 64.063em) {
			.button { 
				width: 100%;
			}
			p { text-align: left; }
			// TEXT PADDING //
			img { 
				padding-bottom: 30px; 
				float: right;
			}
			h2 { font-size: 80px !important; }
			p { margin-bottom: 5px; }

			.statistics-logo { margin-top: 40px; }
		}	

	// MEDIUM  AND UP //
		@media only screen and (min-width: 40.063em) {

			// TEXT PADDING //
			img { padding-bottom: 30px; }
			h2 { padding-bottom: 30px; }
		}
			
	// MOBILE //
		@media only screen and (max-width: 40em){
			min-height: 450px !important;
			.button { 
				width: 100%;
				margin-right: 0rem;
			}
			.ctaBtns {
				padding: 0px 20px; 
			}
			h4 { font-size: 14px; }
		}	
}