/*------------------------------*\

	Table of contents

	x. SASS ELEMENTS (not shown in CSS)

	0. HACKS AND OVERRIDES

	1. IMPORTS

	2. ROW AND COLUMN STYLING

	3. CUSTOM BLOCKS STYLING 

	4. FONTS

\*------------------------------*/


/*--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--*\

    NOTE: ALL MEDIA QUERIES CAN BE FOUND WITH THEIR ASSOCIATED STLYING BLOCK

    AND

    THIS PAGE IS BUILT USING FOUNDATION 5

\*--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--*/


/*------------------------------------*\

    x. SASS ELEMENTS

\*------------------------------------*/


$header_padding: 0px 120px;
$mainContent_padding: 45px 20px;
$sub-header-color: #000;


/* Block 1 */
$block1-color: #FFF;
$block1-font-color: #000;
$block1-button-normal: #FFF; 
$block1-button-hover: #007095; 
$block1-button-font: #000; 
$block1-button-font-hover: #FFF; 
/* Block 2 */
$block2-color: #FFF;
$block2-font-color: #000;
$block2-button-normal: #F05038; 
$block2-button-hover: #70251A; 
$block2-button-font: #FFF; 
$block2-button-font-hover: #FFF; 
/* Block 3 */
$block3-color: #FFF;
$block3-font-color: #000;
$block3-button-normal: #2EB24D; 
$block3-button-hover: #1E7231; 
$block3-button-font: #FFF; 
$block3-button-font-hover: #FFF; 
/* Block 4 */
$block4-color: #FFF;
$block4-font-color: #000;
$block4-button-normal: #81297D; 
$block4-button-hover: #41153F; 
$block4-button-font: #FFF; 
$block4-button-font-hover: #FFF; 
/* Block 5 */
$block5-color: #FFF;
$block5-font-color: #000;
$block5-button-normal: #2FB2E8; 
$block5-button-hover: #2281A8; 
$block5-button-font: #FFF; 
$block5-button-font-hover: #FFF; 


// Mix in for transitions
@mixin css-transition($attribute, $duration, $type) {
  webkit-transition: $attribute $duration $type;
	-moz-transition: $attribute $duration $type;
	  -o-transition: $attribute $duration $type;
		 transition: $attribute $duration $type;
}

// The defaults are the values stated after the variables
@mixin block-colors($block-color: #FFF, $font-color: #000, $button-normal-color: #FFF, $button-hover-color: #007095, $button-text-normal: #000, $button-text-hover: #FFF) {
	h1, h2, h3, p { color: $font-color !important; }
	background-color: $block-color;
	.button { 
		background-color: $button-normal-color !important;
		span { color: $button-text-normal !important; } 
		&:hover, &:focus, &:active{ 
			background-color: $button-hover-color !important; 
			span { color: $button-text-hover !important; } 
		}
	}
}



/*----------------------------------------------------------*\

    0. HACKS AND OVERRIDES (to overwrite foundation defaults)

\*----------------------------------------------------------*/

@import 'hacks-overrides'; // ALWAYS import this!



/*----------------------------------------------------------*\

    1. IMPORTS

\*----------------------------------------------------------*/

@import 'mandatory'; // ALWAYS import this!

@import 'navigation';
@import 'header';

/*~~~~~~~~~~~~~~~~~~~ 
	
	Include your SASS file imports here!

~~~~~~~~~~~~~~~~~~~~~~~~*/
@import 'templates/content-overlay-video';
@import 'templates/content-img-left';
@import 'templates/content-img-right';
@import 'templates/content-headline-cta';





/*----------------------------------------------------------*\

    2. ROW AND COLUMN STYLING

\*----------------------------------------------------------*/



/*----------------------------------------------------------*\

    3. SECTION BLOCKS STYLING

\*----------------------------------------------------------*/

#Introduction {
	@include block-colors($block1-color, $block1-font-color, $block1-button-normal, $block1-button-hover, $block1-button-font, $block1-button-font-hover);
}
#SPSS-Statistics {
	@include block-colors($block2-color, $block2-font-color, $block2-button-normal, $block2-button-hover, $block2-button-font, $block2-button-font-hover);
}
#SPSS-Amos {
	@include block-colors($block3-color, $block3-font-color, $block3-button-normal, $block3-button-hover, $block3-button-font, $block3-button-font-hover);
}
#SPSS-Modeler {
	@include block-colors($block4-color, $block4-font-color, $block4-button-normal, $block4-button-hover, $block4-button-font, $block4-button-font-hover);
}	
#SPSS-Data-Collection {
	@include block-colors($block5-color, $block5-font-color, $block5-button-normal, $block5-button-hover, $block5-button-font, $block5-button-font-hover);
}


// Round button styling
.down-arrow {
	position: absolute; 
	padding-bottom: 60px;
	left: 50%;
	-webkit-transform: translate(0%,-50%);
        -ms-transform: translate(0%,-50%);
            transform: translate(0%,-50%);
	z-index: 99;
}

.round-button {
	z-index: 1200;
    display:block;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#000;
    text-align:center;
    text-decoration:none;
    background: #FFF;
    position: absolute;
    box-shadow: 0 2px 3px gray;
    font-size:20px;
    font-weight:bold;
}
.round-button:hover {
    background: #EFEFEF;
}


/*----------------------------------------------------------*\

    4. FONTS

\*----------------------------------------------------------*/

@import 'fonts';