/*------------------------------*\

	Table of contents

	x. SASS ELEMENTS (not shown in CSS)

	0. HACKS AND OVERRIDES

	1. IMPORTS

	2. ROW AND COLUMN STYLING

	3. CUSTOM BLOCKS STYLING 

	4. FONTS

\*------------------------------*/
/*--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--*\

    NOTE: ALL MEDIA QUERIES CAN BE FOUND WITH THEIR ASSOCIATED STLYING BLOCK

    AND

    THIS PAGE IS BUILT USING FOUNDATION 5

\*--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~--*/
/*------------------------------------*\

    x. SASS ELEMENTS

\*------------------------------------*/
/* Block 1 */
/* Block 2 */
/* Block 3 */
/* Block 4 */
/* Block 5 */
/*----------------------------------------------------------*\

    0. HACKS AND OVERRIDES (to overwrite foundation defaults)

\*----------------------------------------------------------*/
/* #############################
       Hacks and Overrides
   #############################*/
.row {
  max-width: none !important; }

.row.mainContent .row {
  margin-left: 0 !important; }

.no_padding {
  padding: 0px !important; }

.no_margin {
  margin: 0px !important; }

.center {
  text-align: center !important; }

.inline-block {
  display: inline-block !important; }

.content {
  display: none; }

@media only screen {
  .small-3 {
    width: 9%; } }
@media only screen and (max-width: 40em) {
  p {
    line-height: 1.5;
    margin-bottom: 1.0rem !important; }

  li {
    padding-bottom: 0.65rem !important; }

  /* RESIZING THE FANCYBOX IN MOBILE */
  .fancybox-inner {
    height: 180px !important; } }
.ctaBtns a:focus {
  opacity: 0.5; }

/* OFF-CANVAS STYLING */
.left-off-canvas-menu {
  background: #FFF !important; }
  .left-off-canvas-menu a {
    color: #000 !important; }

/* ADD-THIS STYLING */
.at4-follow {
  position: fixed; }

.at4-follow-inner {
  top: 0px; }

.at-follow-open-control {
  top: 0px;
  position: fixed; }

div#at4m-dock.ats-transparent {
  background: #FFF;
  border-color: #FFF; }

@media only screen and (min-width: 40.063em) {
  .firstRow.stick-padding {
    margin-top: 45px !important; } }

.special-break {
  display: none; }

@media only screen and (max-width: 1050px) and (min-width: 1026px) {
  .special-break {
    display: block !important; } }
/*----------------------------------------------------------*\

    1. IMPORTS

\*----------------------------------------------------------*/
/* SETTING CONTAINER MAX WIDTH */
.row .container {
  max-width: 1280px !important;
  margin: 0 auto; }

/* SETTING NAVIGATION MAX WIDTH */
nav .container {
  margin: 0 auto; }

/* STICKY SUB HEADER STYLING */
.snapNav {
  position: fixed !important;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  border-top: 0; }

/* CSS FOR THANK YOU MESSAGE */
.translated {
  position: absolute;
  left: 26%;
  margin: 0 auto;
  width: 50%; }
  @media only screen and (max-width: 40em) {
    .translated {
      left: 3%; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .translated {
      left: 15%; } }

/* DEFAULT STYLING FOR ALL mainContent BLOCKS */
.row.mainContent {
  margin: 0px 0px;
  padding: 45px 20px;
  position: relative; }
  .row.mainContent .button {
    background-color: #FFF;
    webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    height: 50px; }
    .row.mainContent .button span {
      webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      font-size: 25px;
      font-weight: bold;
      color: #000; }
    .row.mainContent .button:hover, .row.mainContent .button:focus, .row.mainContent .button:active {
      background-color: #007095; }
  .row.mainContent .container {
    padding: 0px 88px; }
  .row.mainContent .circles {
    padding-top: 20px; }
  .row.mainContent ul.none {
    list-style: none; }
  .row.mainContent p, .row.mainContent h1, .row.mainContent h2, .row.mainContent h3 {
    color: #4A4A4A; }
  @media only screen and (max-width: 40em) {
    .row.mainContent {
      padding: 25px 0px; }
      .row.mainContent .container {
        padding: 0px 0px; }
      .row.mainContent .columns {
        padding-left: 0px; }
      .row.mainContent .button {
        height: 40px;
        padding-top: 0.50rem !important;
        padding-right: 0px !important;
        padding-left: 0px !important; }
        .row.mainContent .button span {
          font-size: 18px !important; }
      .row.mainContent .container {
        padding: 0px 0px;
        text-align: center; }
      .row.mainContent p {
        font-size: 14px; }
      .row.mainContent h1 {
        font-size: 32px !important; }
      .row.mainContent h2 {
        font-size: 28px; text-align: center; float: none !important; width: 100%;}
      .row.mainContent h3 {
        font-size: 15px; } 
      .columns { float: none !important; }}
  @media only screen and (min-width: 40.063em) {
    .row.mainContent p {
      font-size: 15px; }
    .row.mainContent .container {
      padding: 15px 40px;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .row.mainContent {
      min-height: 750px; }
      .row.mainContent .container {
        text-align: center; } }
  @media only screen and (min-width: 64em) {
    .row.mainContent {
      min-height: 600px; }
      .row.mainContent:first-child h1 {
        font-size: 2.75rem; }
      .row.mainContent:first-child h2 {
        font-size: 25px; }
      .row.mainContent h2 {
        font-size: 2.75rem; }
      .row.mainContent h3 {
        font-size: 25px; } }

/* #############################
       Sub Header / Navigation
   #############################*/
.top-bar-section ul {
  display: table;
  margin: 0 auto; }

.top-bar-section ul li {
  display: table-cell; }

.top-bar-section ul {
  display: table;
  margin: 0 auto; }

.top-bar-section ul li {
  display: table-cell; }

.inner-wrap,
.offHeader {
  transition: transform 500ms ease; }

.move-right > .inner-wrap,
.move-right > .offHeader {
  transform: translate3d(250px, 0, 0); }

@media only screen and (min-width: 40.063em) {
  .f-topbar-fixed {
    padding-top: 0px !important; } }

/*Left Menu*/
.off-canvas-fixed {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease; }

.move-right > .off-canvas-fixed {
  height: 100%;
  -webkit-transform: translate3d(250px, 0, 0);
  transform: translate3d(250px, 0, 0); }

.left-off-canvas-menu {
  -webkit-transform: none;
  transform: none;
  margin-left: -250px; }

/*Positions AddThis Content Above*/
#at4m-mobile-container {
  position: fixed;
  /*bottom: 0; /*Makes share menu only appear after scrolling to bottom*/
  z-index: 999999 !important; }

nav.subHeader {
  background-color: black !important;
  box-shadow: 0px 1px 1px #888888; }
  nav.subHeader a {
    font-size: 15px !important; }
  nav.subHeader .top-bar-section li:not(.has-form) a:not(.button), nav.subHeader .top-bar-section li:not(.has-form) {
    background: black;
    webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    color: #FFF; }
  nav.subHeader .top-bar-section li:not(.has-form) a:not(.button):hover, nav.subHeader .top-bar-section li:not(.has-form) a:not(.button) .active {
    background: #FFF;
    color: #000; }
  nav.subHeader .top-bar-section li:not(.has-form) a1:not(.button) {
    padding: 0 15px;
    line-height: 45px; }
  nav.subHeader .top-bar-section li img {
    padding-top: 3px; }
  nav.subHeader .top-bar-section ul {
    background: black; }
  @media only screen and (min-width: 641px) and (max-width: 747px) {
    nav.subHeader .top-bar-section li:not(.has-form) a:not(.button) {
      padding: 0 7px; } }

.top-bar.expanded .title-area {
  background: #545454 !important; }

/* #############################
       Header
   #############################*/
.row.header {
  background-color: #FFF !important;
  padding: 0px 120px;
  height: 70px;
  /* MOBILE */
  /* MEDIUM SCREENS AND UP*/ }
  .row.header .columns {
    padding-top: 7px; }
  .row.header img {
    max-width: none; }
  .row.header .large-2 {
    width: 50%;
    padding-left: 0rem;
    padding-right: 7rem; }
  .row.header .large-offset-3 {
    width: 18%; }
  @media only screen and (max-width: 40em) {
    .row.header {
      padding: 0px 10px;
      height: 55px; }
      .row.header .columns {
        padding-top: 5px; }
      .row.header img {
        max-width: 110px; }
      .row.header .oth-logo {
        padding-top: 10px; margin-left: 10px;}
      .row.header .ibm-logo {
          padding-top: 10px; padding-right: 0; }
      .row.header .ibm-logo img {
          height: 35px; width: auto; right:0;} }
  @media only screen and (min-width: 40.063em) {
    .row.header .oth-logo {
      padding-top: 5px; } 
      .row.header .ibm-logo {
        margin-right: 20px; }}

/*~~~~~~~~~~~~~~~~~~~ 
	
	Include your SASS file imports here!

~~~~~~~~~~~~~~~~~~~~~~~~*/
/* #############################
       Video background div
   #############################*/
.content-overlay-video {
  padding: 0px !important;
  background-image: url("../img/block-1-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;}
  .content-overlay-video video, .content-overlay-video img {
    width: 100%; }
  .content-overlay-video img {
    position: relative;
    z-index: -1; }
  .content-overlay-video video {
    position: absolute; }
  .content-overlay-video .ovrlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
  .content-overlay-video .container {
    position: relative;
    padding: 50px 100px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .content-overlay-video .button {
    padding: 20px 20px !important; }
  .content-overlay-video h1, .content-overlay-video p, .content-overlay-video span { color: black !important; }
  @media screen and (max-width: 40em) {
    .content-overlay-video {
      background-image: url("../img/block-1-background.jpg");
      background-repeat: no-repeat;
      background-size: 180%;
      min-height: 260px !important; }
      .content-overlay-video img {
        min-height: 260px; }
      .content-overlay-video .ovrlay {
        min-height: 260px !important; }
      .content-overlay-video .container {
        padding: 0px 10px !important; }
        .content-overlay-video .container h1 {
          font-size: 40px !important;
          padding: 10px 0px; }
      .content-overlay-video .button {
        width: 50%; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .content-overlay-video {
      background-image: url("../img/block-1-background.jpg") !important;
      background-repeat: no-repeat;
      min-height: 350px !important; }
      .content-overlay-video .container { 
        top: 45% !important; }
      .content-overlay-video .ovrlay {
        min-height: 450px !important; }
      .content-overlay-video h1 {
        font-size: 40px; }
      .content-overlay-video p {
        font-size: 15px; }
      .content-overlay-video span {
        font-size: 21px !important; }
      .content-overlay-video h1 {
        padding-bottom: 20px; }
      .content-overlay-video p {
        padding-bottom: 25px;
        font-size: 20px !important; }
      .content-overlay-video .button {
        width: 30%; } }
  @media only screen and (min-width: 64em) {
    .content-overlay-video {
      min-height: 450px !important; }
      .content-overlay-video .ovrlay {
        padding: 45px 20px;
        min-height: 550px !important; }
      .content-overlay-video .container {
        top: 40% !important;  
        padding: 50px 100px 30px 100px !important; }
      .content-overlay-video .button {
        width: 30%; }
      .content-overlay-video h1 {
        padding-bottom: 30px;
        font-size: 50px; }
      .content-overlay-video p {
        padding-bottom: 40px;
        font-size: 25px !important; } }

/* #############################
       Block with image left of content 
   #############################*/
.inline-content-imgleft {
  /* MOBILE */
  /* MEDIUM SCREENS  */
  /* LARGE SCREENS AND UP*/ }
  .inline-content-imgleft .button {
    align: baseline; }
    .inline-content-imgleft .button span {
      font-size: 18px;
      font-weight: bold; }
  .inline-content-imgleft h2 {
    color: #6EB43F !important; }
  .inline-content-imgleft .small-4 {
    width: 80.33333%; }
  .inline-content-imgleft span {
    font-size: 16px; }
  .inline-content-imgleft .large-12 {
    padding-left: 0rem; }
  @media only screen and (max-width: 40em) {
    .inline-content-imgleft .row.title {
      padding: 25px 0px 25px 15px; }
    .inline-content-imgleft .small-3 {
      width: 25%; }
    .inline-content-imgleft .ctaBtns {
      padding: 0px 10px;
      margin-right: 0rem; }
      .inline-content-imgleft .ctaBtns .button {
        padding-right: 0rem; }
    .inline-content-imgleft .small-4 {
      padding-top: 15px !important;
      width: 100%; }
    .inline-content-imgleft h1, .inline-content-imgleft h2 {
      /* text-align: left; */
      line-height: 1.0; }
      .inline-content-imgleft h1 span, .inline-content-imgleft h2 span {
        font-size: 14px; }
    .inline-content-imgleft h2 {
      float: left;
      font-size: 19px;
      font-weight: bold; }
    .inline-content-imgleft .info p {
      padding: 0px 7px; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .inline-content-imgleft .row.title {
      padding: 25px 0px 25px 15px; }
    .inline-content-imgleft .button span {
      font-size: 18px; }
    .inline-content-imgleft .rent {
      width: 100%;
      padding: 0px; }
    .inline-content-imgleft .trial {
      width: 100%;
      padding: 0px; }
    .inline-content-imgleft .large-offset-1 {
      margin-left: 2.33333% !important; } }
  @media only screen and (min-width: 64.063em) {
    .inline-content-imgleft .image {
      padding-right: 0px; }
    .inline-content-imgleft .info {
      width: 55.333%; }
      .inline-content-imgleft .info p {
        padding-top: 10px;
        width: 97%; }
    .inline-content-imgleft h2 {
      font-size: 42px; }
    .inline-content-imgleft p {
      margin-bottom: 5px; }
    .inline-content-imgleft .large-12 p {
      padding-top: 0px !important; }
    .inline-content-imgleft .large-offset-1 {
      margin-left: 5.33333% !important; }
    .inline-content-imgleft .rent {
      width: 70%; }
    .inline-content-imgleft .trial {
      width: 70%; } }

/* #############################
       Block with image right of content 
   #############################*/
.inline-content-imgright {
  /* MOBILE */
  /* MEDIUM SCREENS  */
  /* LARGE SCREENS AND UP*/ }
  .inline-content-imgright .button {
    align: baseline; }
    .inline-content-imgright .button span {
      font-size: 18px;
      font-weight: bold; }
  .inline-content-imgright h2 {
    color: #F4911E !important; }
  .inline-content-imgright span {
    font-size: 16px; }
  .inline-content-imgright .small-4 {
    width: 87.33333%; }
  .inline-content-imgright .large-12 {
    padding-left: 0rem; }
  @media only screen and (max-width: 40em) {
    .inline-content-imgright h1, .inline-content-imgright h2 {
      text-align: left;
      line-height: 1.0;
      font-size: 23px; }
      .inline-content-imgright h1 span, .inline-content-imgright h2 span {
        font-size: 14px; }
    .inline-content-imgright h2 {
      float: left;
      font-size: 19px;
      font-weight: bold; }
    .inline-content-imgright .large-7 {
      width: 95%; }
    .inline-content-imgright .large-5 {
      width: 100%; }
    .inline-content-imgright .small-3 {
      width: 25%; }
    .inline-content-imgright .row.title {
      padding: 25px 0px 25px 15px; }
    .inline-content-imgright .ctaBtns {
      padding: 0px 10px; }
    .inline-content-imgright .button {
      padding-right: 0rem; }
    .inline-content-imgright .small-4 {
      padding: 3% 0px 0px 6px !important;
      width: 100%; }
    .inline-content-imgright .info p {
      padding: 0px 7px; } }
  @media only screen and (min-width: 40.063em) and (max-width: 64em) {
    .inline-content-imgright .row.title {
      padding: 25px 0px 25px 15px; }
    .inline-content-imgright .button span {
      font-size: 17px; }
    .inline-content-imgright .large-offset-1 {
      margin-left: 2.33333% !important; }
    .inline-content-imgright .rent {
      width: 98%;
      padding: 0px; }
    .inline-content-imgright .trial {
      width: 98%;
      padding: 0px; } }
  @media only screen and (min-width: 64.063em) {
    .inline-content-imgright .large-offset-1 {
      margin-left: 5.33333% !important; }
    .inline-content-imgright .rent {
      width: 70%;
      padding: 0px; }
    .inline-content-imgright .trial {
      width: 70%;
      padding: 0px; }
    .inline-content-imgright .info p {
      padding-top: 10px;
      width: 97%; }
    .inline-content-imgright p {
      margin-bottom: 5px; }
    .inline-content-imgright h2 {
      font-size: 42px !important; } }

/* #############################
       Centered CTA block
   #############################*/
.headline-cta .button span {
  font-size: 19px;
  font-weight: bold; }
.headline-cta img {
  float: right !important; }
@media only screen and (min-width: 64.063em) {
  .headline-cta .button {
    width: 100%; }
  .headline-cta p {
    text-align: left; }
  .headline-cta img {
    padding-bottom: 30px;
    float: right; }
  .headline-cta h2 {
    font-size: 80px !important;
    padding-botom: 15px !important; }
  .headline-cta h5 {
    margin-bottom: 5px;
    margin-top: 25px;
    font-size: 18px !important;
    text-align: left; }
  .headline-cta p {
    margin-bottom: 5px; }
  .headline-cta .statistics-logo {
    margin-top: 28px; }
  .headline-cta .simple {
    padding-left: 200px !important; } }
@media only screen and (min-width: 40.063em) {
  .headline-cta {
    min-height: 800px; }
    .headline-cta img {
      padding-bottom: 30px; }
    .headline-cta h2 {
      padding-bottom: 30px; } }
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .headline-cta {
    min-height: 550px !important; }
    .headline-cta .button {
      white-space: nowrap; } }
@media only screen and (max-width: 40em) {
  .headline-cta {
    min-height: 450px !important; }
    .headline-cta img {
      padding-bottom: 15px; }
    .headline-cta h2 {
      float: left;
      font-size: 19px;
      font-weight: bold; }
    .headline-cta .button {
      width: 100%;
      margin-right: 0rem; }
    .headline-cta .ctaBtns {
      padding: 0px 20px; }
    .headline-cta h4 {
      font-size: 18px; }
    .headline-cta .small-10 {
      width: 72.333%; }
    .headline-cta .small-2 {
      margin-left: 20px; } }

/*----------------------------------------------------------*\

    2. ROW AND COLUMN STYLING

\*----------------------------------------------------------*/
/*----------------------------------------------------------*\

    3. SECTION BLOCKS STYLING

\*----------------------------------------------------------*/
.button { 
    min-width: 200px; 
    transition: 300ms; 
    height: auto !important; 
    padding: 12px 0 !important; 
    margin-top: 15px; }
.button span { 
    font-size: 18px !important; 
    text-transform: none; 
    font-weight: 600 !important; }

#Block1 {
  background-color: white; }
  #Block1 h1, #Block1 h2, #Block1 h3, #Block1 p {
    color: black !important; }
  #Block1 .button {
    background-color: white !important; }
    #Block1 .button span {
      color: black !important; }
    #Block1 .button:hover, #Block1 .button:focus, #Block1 .button:active {
      background-color: #007095 !important; }
      #Block1 .button:hover span, #Block1 .button:focus span, #Block1 .button:active span {
        color: white !important; }

#SPSS-PreviousVersions {
  background-color: #f05038; min-height: 450px !important; }
#SPSS-PreviousVersions p { font-weight: 400 !important; }
  #SPSS-PreviousVersions h1, #SPSS-PreviousVersions h2, #SPSS-PreviousVersions h3, #SPSS-PreviousVersions p {
    color:white !important; }
  #SPSS-PreviousVersions .button {
    background-color: white !important; width: 220px; }
    #SPSS-PreviousVersions .button span {
      color: #f05038 !important; }
    #SPSS-PreviousVersions .button:hover, #SPSS-PreviousVersions .button:focus, #SPSS-PreviousVersions .button:active {
      background-color: #ebebeb !important; }
      #SPSS-PreviousVersions .button:hover span, #SPSS-PreviousVersions .button:focus span, #SPSS-PreviousVersions .button:active span {
        color: #f05038 !important; }

#SPSS-Statistics {
  background-color: white; min-height: 650px;  }
  #SPSS-Statistics h1, #SPSS-Statistics h2, #SPSS-Statistics h3, #SPSS-Statistics p {
    color: black !important; }
  #SPSS-Statistics .button {
    background-color: #f05038 !important; }
    #SPSS-Statistics .button span {
      color: white !important; }
    #SPSS-Statistics .button:hover, #SPSS-Statistics .button:focus, #SPSS-Statistics .button:active {
      background-color: #70251a !important; }
      #SPSS-Statistics .button:hover span, #SPSS-Statistics .button:focus span, #SPSS-Statistics .button:active span {
        color: white !important; }

#SPSS-Amos {
  background-color: #ebebeb; }
  #SPSS-Amos h1, #SPSS-Amos h2, #SPSS-Amos h3, #SPSS-Amos p {
    color: black !important; }
#SPSS-Amos p { font-size: 18px; }
  #SPSS-Amos .button {
    background-color: #2eb24d !important; max-width: 220px;}
    #SPSS-Amos .button span {
      color: white !important; }
    #SPSS-Amos .button:hover, #SPSS-Amos .button:focus, #SPSS-Amos .button:active {
      background-color: #1e7231 !important; }
      #SPSS-Amos .button:hover span, #SPSS-Amos .button:focus span, #SPSS-Amos .button:active span {
        color: white !important; }

#SPSS-Modeler {
  background-color: white; }
  #SPSS-Modeler h1, #SPSS-Modeler h2, #SPSS-Modeler h3, #SPSS-Modeler p {
    color: black !important; }
  #SPSS-Modeler p { font-size: 18px; }
  #SPSS-Modeler .button {
    background-color: #81297d !important; max-width: 220px; }
    #SPSS-Modeler .button span {
      color: white !important; }
    #SPSS-Modeler .button:hover, #SPSS-Modeler .button:focus, #SPSS-Modeler .button:active {
      background-color: #41153f !important; }
      #SPSS-Modeler .button:hover span, #SPSS-Modeler .button:focus span, #SPSS-Modeler .button:active span {
        color: white !important; }

#SPSS-Data-Collection {
  background-color: white; }
  #SPSS-Data-Collection h1, #SPSS-Data-Collection h2, #SPSS-Data-Collection h3, #SPSS-Data-Collection p {
    color: black !important; }
  #SPSS-Data-Collection .button {
    background-color: #2fb2e8 !important; }
    #SPSS-Data-Collection .button span {
      color: white !important; }
    #SPSS-Data-Collection .button:hover, #SPSS-Data-Collection .button:focus, #SPSS-Data-Collection .button:active {
      background-color: #2281a8 !important; }
      #SPSS-Data-Collection .button:hover span, #SPSS-Data-Collection .button:focus span, #SPSS-Data-Collection .button:active span {
        color: white !important; }

.down-arrow {
  position: absolute;
  padding-bottom: 60px;
  left: 50%;
  /* margin-left: -35px; */
  -webkit-transform: translate(-50%, -23%);
  -ms-transform: translate(-50%, -23%);
  transform: translate(-50%, -23%);
  z-index: 99; 
  transition: 300ms; }

.round-button {
  z-index: 1200;
  display: block;
  width: 70px;
  height: 70px; }

.down-arrow:hover { margin-top:3px; }
.expand-height { min-height: 860px !important; }
.expand-height .container { top: 35% !important; }
.expand-content {
    position: absolute;
    top: 40px;
    text-align: center;
    max-width: 800px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}
.country-list { min-width: 820px; }
.spps-list ul li p { color: black; font-size: 14px !important; }
.spps-list ul li { color: #f05038; list-style: disc; }
.expander span i { color: #f05038; }
.expander { color: black; }
.expander.expanded, .expander:hover { color: #f05038; }

@media screen and (min-width: 40.063em) { 
    .button { 
        margin:0 auto !important; 
        text-align:center; 
        float: none !important; } 
    #SPSS-PreviousVersions { min-height: 580px !important; }
}
@media screen and (max-width: 900px) {
    #SPSS-Statistics ul li { clear: both; width: 100%; }
    #SPSS-Statistics ul { width: 100%; }
}
@media screen and (max-width:1028px) { 
    .expand-height { min-height: 550px !important; }
    .expand-height .container { top: 50% !important; }
}

/*----------------------------------------------------------*\

    4. FONTS

\*----------------------------------------------------------*/
body, p, h1, h2, h3, h4, h5, ul, li, a, nav, span {
  font-family: 'AvenirLTStd55Roman', Verdana, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -webkit-text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px; }

.avenir-medium {
  font-family: 'AvenirLTStd-Medium', Verdana, sans-serif !important; }

.avenir-heavy {
  font-family: 'AvenirLTStd85Heavy', Verdana, sans-serif !important; }

.avenir-light {
  font-family: 'AvenirLTStd35Light', Verdana, sans-serif !important; }

@font-face {
  font-family: 'AvenirLTStd55Roman';
  src: url("fonts/avenirltstd-roman.eot");
  src: url("fonts/avenirltstd-roman.eot") format("embedded-opentype"), url("fonts/avenirltstd-roman.woff") format("woff"), url("fonts/avenirltstd-roman.ttf") format("truetype"), url("fonts/avenirltstd-roman.svg#AvenirLTStd55Roman") format("svg"); }

@font-face {
  font-family: 'AvenirLTStd85Heavy';
  src: url("fonts/avenirltstd-heavy.eot");
  src: url("fonts/avenirltstd-heavy.eot") format("embedded-opentype"), url("fonts/avenirltstd-heavy.woff") format("woff"), url("fonts/avenirltstd-heavy.ttf") format("truetype"), url("fonts/avenirltstd-heavy.svg#AvenirLTStd85Heavy") format("svg"); }

@font-face {
  font-family: 'AvenirLTStd35Light';
  src: url("fonts/avenirltstd-light.eot");
  src: url("fonts/avenirltstd-light.eot") format("embedded-opentype"), url("fonts/avenirltstd-light.woff") format("woff"), url("fonts/avenirltstd-light.ttf") format("truetype"), url("fonts/avenirltstd-light.svg#AvenirLTStd35Light") format("svg"); }

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url("fonts/AvenirLTStd-Medium.eot?") format("eot"), url("fonts/AvenirLTStd-Medium.otf") format("opentype"), url("fonts/AvenirLTStd-Medium.woff") format("woff"), url("fonts/AvenirLTStd-Medium.ttf") format("truetype"), url("fonts/AvenirLTStd-Medium.svg#AvenirLTStd-Medium") format("svg"); }
